<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
  <script src="vue.js"></script>
</head>
<body>
  <div id="app">
    <ul>
      <li v-for="(ingradient,i) in ingradients">{{ ingradient }} ({{ i }})</li>
    </ul>
    <template v-for="(ingradient,index) in ingradients">
      <h4>{{ingradient}}</h4>
      <p>{{index}}</p>
    </template>
    <hr>
    <ul>
      <li v-for="person in persons">
        <span v-for="(value,key, index) in person"> {{ value }} : {{ key }} ({{index}}) </span>
      </li>
    </ul>
    <span v-for="n in 10">{{ n }} </span>
    <!-- <p v-if="show">You can see me!<span>Hello!</span></p>
    <p v-else>Now you see me</p>
    <template v-if="show">
      <h1>Heading</h1>
      <p>Inside a template</p>
    </template>
    <p v-show="show">Do you also see me?</p>
    <button @click="show = !show">Switch</button> -->
  </div>
  <script src="app.js"></script>
</body>
</html>