<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h1 v-once>{{ title }}</h1>
    <!-- <input type="text" v-on:input="changeTitle"> -->
    <!-- <p>{{ sayHello() }} - <a v-bind:href="link">Google</a></p> -->
    <hr>
    <p v-html="finishedLink"></p>
    <button v-on:click="increase(2,$event)">Click me</button>
    <button v-on:click="counter++">Click me</button>
    <p>{{ counter*2 > 10 ? 'Greater than 10': 'Smaller than 10' }}</p>
    <p v-on:mousemove="updateCoordinates">
      Coordinates: {{ x }} / {{ y }}
     - <span v-on:mousemove.stop.prevent="">DEAD SPOT</span></p>
      <input type="text" v-on:keyup.enter.space="alertMe">
      <input type="text" v-model="name">
      <p>{{ name }}</p>
    </div>
  <script src="vue.js"></script>
  <script src="app.js"></script>
</body>
</html>